.u-section-1 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-1 .u-shape-1 {
  width: 490px;
  height: 516px;
  background-image: none;
  margin: 479px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 958px;
  margin: -981px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 378px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: normal;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 378px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 30px 0 -30px;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 40px 30px 0 -30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  margin: 14px 30px 0 -30px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/Fig1.PNG");
  background-position: 50% 50%;
  min-height: 585px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: -660px auto 60px;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-1 .u-shape-1 {
    height: 451px;
    margin-top: 637px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 871px;
    margin-top: -1033px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 371px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 574px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -665px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-shape-1 {
    width: 344px;
    height: 276px;
    margin-top: 1597px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 663px;
    margin-top: -927px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 461px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -1206px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-shape-1 {
    width: 337px;
    height: 383px;
    margin-top: 1326px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 480px;
    margin-top: -956px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-image-1 {
    min-height: 376px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -1137px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-shape-1 {
    width: 251px;
    height: 224px;
    margin-top: 1463px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 300px;
    margin-top: -890px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 266px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -1265px;
  }
}